
    
  
    <h1 class="mx-auto text-center" style="margin-bottom: 6rem;">Highlighted Products</h1>
  
    <swiper [slidesPerView]="4" [spaceBetween]="1" class="mySwiper">
      <ng-template swiperSlide *ngFor="let product of products; let i = index">
        <div class="swiper-slide">
          <div class="relative w-28 sm:w-32 md:w-40 lg:w-48 xl:w-56 2xl:w-64 bg-base-100 shadow-xl hover:shadow-lg hover:translate-x-3 hover:bg-lightBlue-200 transition duration-500 ease-in-out" routerLink="/shop/products/{{ product.id }}">
            <figure>
              <img src="{{ product.imageUrl }}" alt="Product"  />
            </figure>
            <div class="absolute inset-0 opacity-0 hover:opacity-100 bg-white bg-opacity-40 backdrop-blur p-4 transition duration-500 ease-in-out">
              <h3 class="mb-2 text-xl font-semibold text-gray-800">{{ product.name }}</h3>
              <p class="text-sm text-black">{{product.description}}</p>
              <div class="card-actions justify-between mt-2">
                <div class="badge badge-outline text-xs text-gray-800 bg-teal-400 uppercase">${{ product.price | number : '1.2-2' }}</div>
                <div class="rating">
                  <!-- Rating stars -->
                </div>
                <button class="btn btn-sm btn-outline btn-primary mt-2 text-teal-600 bg-indigo-600" routerLink="/home/shop/products/{{ product.id }}" >Details</button>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </swiper>
  